---
title: "OneScope"
linkTitle: "OneScope"
---

{{< blocks/cover title="OneScope" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<p class="lead mt-5">実務経験を積める本気のエンジニアコミュニティ</p>
	<p>この Web サイトは作成中です。</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
OneScope は本気のエンジニアがひとつのスコープに集うコミュニティです。  
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-people-group" title="本気のエンジニアが多数所属" %}}
OneScope にはソフトウェア企業のエンジニアや、学生エンジニアが多数所属しています。
最新技術に関する情報や、実務で必要となるソフトウェア設計の勘所など、実用レベルのリアルな情報交換が積極的に行われています。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-person-chalkboard" title="実務経験を積める" %}}
OneScope ではソフトウェア企業の実際の仕事の一部を請け負うことが可能です。
仕事は OneScope 内でチームを組んで実施します。その際、ソフトウェア企業のエンジニアがメンターとしてサポートします。
学校やプログラミングスクールでは体験する機会の少ない実務経験が可能です。
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-house-laptop" title="リモートOK" %}}
OneScope は主に Discord と GitHub 上でコミュニケーションを行います。
場所や時間帯によらず参加可能です。
{{% /blocks/feature %}}

{{< /blocks/section >}}

