// ブラウザの横幅が小さいとき、トップページのロゴ画像がはみ出さないようにする
.cover-logo { max-width: 100%; }

// ドキュメント右側のサイドバーのリンクを非表示にする
.td-page-meta--view { display: none !important; }
.td-page-meta--edit { display: none !important; }
.td-page-meta--child { display: none !important; }
.td-page-meta--issue { display: none !important; }
.td-page-meta--project-issue { display: none !important; }

// blocks/section を type=container で使うため、Docsy 0.7.0-dev の blocks/section を取り込んだ
// このとき .td-box.row のスタイルも変化したので、ここで上書きする
// TODO: Docsy 0.7.0 が正式リリースされたら、ここを消せるか検討すること
.td-box.row {
    padding-left: 5vw;
    padding-right: 5vw;
}

.ps-1 {
    padding-left: 0.25rem!important;
}

.blog-content-share-sns {
    padding-top: 3rem;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.lp-timelines {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lp-twitter-timeline {
    display: inline-block;
    padding: inherit !important;
    display: inline-block; 
    background-color: #202225; 
    border-radius: 0px 0px 5px 5px; 
    min-width: 320px; 
    min-height: 480px;
    > header {
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        background-color: rgb(29, 155, 240); 
        color: white; 
        border-radius: 5px 5px 0px 0px; 
        height: 74px;
        padding: 20px;
        > label {
            display: flex; 
            align-items: center;
            margin: 0px;
            font-size: 16px;
            font-weight: bold;
            &::before {
                @extend .fab;
                @extend .fa-twitter;
                font-size: 24px;
                margin-right: 8px;
            }
        }
        > a {
            color: #ffffff;
            transition: 0.2s;
            &:hover {
                color: #d3d3d3;
            }
        }
    }
}
